<div id="file-nav" ng-controller="DirectoryCtrl">
    <div id="file-scroll" data-slim-scroll>
        <script type="text/ng-template" id="items_renderer.html">
            <div ui-tree-handle>
                <a ng-show="item.type == 'Directory'" class="btn btn-xs" data-nodrag ng-click="onFolderClick(this)"
                   ng-class="{ 'highlight': panel.highlight, 'expanded': panel.expanded }">
                    <span context-menu="onRightClick(this,formDirectoryRename)" data-target="cm-folder">
                        <span class="glyphicon" ng-class="{'glyphicon-folder-close': collapsed, 'glyphicon-folder-open': !collapsed}"></span>
                        <span class="item-title" editable-text="item.name" e-form="formDirectoryRename" buttons="no" onbeforesave="saveRename($data,item)">{{item.name}}</span>
                    </span>
                </a>
                <a ng-show="item.type == 'File'" class="btn btn-xs" data-nodrag ng-click="onFileClick(this)" ng-class="{ 'highlight': panel.highlight}">
                    <span context-menu="onRightClick(this,formFileRename)" data-target="cm-file">
                        <span ng-show="item.type == 'File'" class="glyphicon glyphicon-file"></span>
                        <span class="item-title" editable-text="item.name" e-form="formFileRename" buttons="no" onbeforesave="saveRename($data,item)">{{item.name}}</span>
                    </span>
                </a>
            </div>
            <ol ui-tree-nodes="options" ng-model="item.children" ng-class="{hidden: collapsed}">
                <li ng-repeat="item in item.children" ui-tree-node collapsed="true" ng-include="'items_renderer.html'">
                </li>
            </ol>
        </script>
        <div ui-tree="options" data-spacing="20">
            <ol ui-tree-nodes ng-model="list">
                <li ng-repeat="item in list" ui-tree-node collapsed="true" ng-include="'items_renderer.html'"></li>
            </ol>
        </div>
    </div>
    <div class="dropdown position-fixed" id="cm-folder" st>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li>
                <a class="pointer" ng-click="newFiles()">Add File(s)</a>
            </li>
            <li>
                <a class="pointer" ng-click="newSubFolder()">New Folder</a>
            </li>
            <li>
                <a class="pointer" ng-click="refresh()">Refresh</a>
            </li>
            <li>
                <a class="pointer" ng-click="renameClick()">Rename</a>
            </li>
            <li>
                <a class="pointer" ng-click="compress()">Compress (zip)</a>
            </li>
            <li>
                <a class="pointer" ng-click="remove()">Delete</a>
            </li>
        </ul>
    </div>
    <div class="dropdown position-fixed" id="cm-file" st>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
            <li>
                <a class="pointer" ng-click="renameClick()">Rename</a>
            </li>
            <li>
                <a class="pointer" ng-click="remove()">Delete</a>
            </li>
        </ul>
    </div>
</div>
