<div class="page page-general" data-ng-controller="ContentNewFilesCtrl">
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-box" ng-click="newCodeFile()">
                <div class="panel-top btn btn-success">
                    <i class="fa fa-code text-large"></i>
                </div>
                <div class="panel-bottom bg-reverse btn">
                    <p class="size-h1">New Code File</p>
                    <p class="text-muted">Create a new html, javascript, css, or other code file</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-box" ng-click="uploadFiles()">
                <div class="panel-top btn-info btn">
                    <i class="fa fa-cloud-upload text-large"></i>
                </div>
                <div class="panel-bottom bg-reverse btn">
                    <p class="size-h1">Upload Assets</p>
                    <p class="text-muted">Upload images, videos, documents, and other static assets</p>
                </div>
            </section>
        </div>
    </div>
</div>
